<div class="row">
  <% @singers.each do |singer| %>
    <div class="col-sm-6 col-md-3">  
      	<div class="thumbnail">
        	<%= link_to (image_tag singer.image.url(:medium), class: 'image'), singer %>      	
        </div>
  	</div>    
  <% end %>
</div>
	


	


